{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">Dashboard</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
        <div class="col-lg-12 dashboard">
        {% for menu in menus %}
             {% if menu.children|length %}
                 {% for submenu in menu.children %}
                   {% if submenu.status %}
                   <div class="col-md-2 col-xs-5 col-sm-2 placeholder text-center mb20">
                       <a href="{% if 'http://' in submenu.link %}{{ submenu.link }} {% else %}{{ path(submenu.link) }}{% endif %}"><i class="fa fa-4x {{ menu.iconClass }}"></i><br />
                       <big>{{ submenu.caption }}</big></a>
                   </div>
                   {% endif %}
                 {% endfor %}
             {% endif %}
        {% endfor %}
        <div class="col-md-2 col-xs-5 col-sm-2 placeholder text-center mb20">
            <a href="{{ path('_logout') }}"><i class="fa fa-4x fa-sign-out"></i><br />
            <big>Logout</big></a>
        </div>
   </div>
</div>
<!-- /.row -->
{% endblock %}