{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">{{ heading }}</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
           <div class="panel-heading text-right">
               <span class="required">*</span> = mendatory fields
           </div>
           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-7">
                       {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                           {{ form_errors(form) }}
                           <div class="form-group{% if form.caption.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.caption) }} <span class="required">*</span>
                               {{ form_widget(form.caption, {'attr': {'class':'form-control', 'autofocus': 'autofocus'}}) }}
                               {{ form_errors(form.caption) }}
                           </div>
                           <div class="form-group{% if form.link.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.link) }} <span class="required">*</span>
                               {{ form_widget(form.link, {'attr': {'class':'form-control'}}) }}
                               <p class="help-block">Please enter link or route name</p>
                               {{ form_errors(form.link) }}
                           </div>
                           <div class="form-group">
                               {{ form_label(form.parent) }}
                               {{ form_widget(form.parent, {'attr': {'class':'form-control'}}) }}
                           </div>
                           <div class="form-group{% if form.iconClass.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.iconClass) }}
                               {{ form_widget(form.iconClass, {'attr': {'class':'form-control'}}) }}
                               {{ form_errors(form.iconClass) }}
                           </div>
                           <div class="form-group{% if form.entityClass.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.entityClass) }}
                               {{ form_widget(form.entityClass, {'attr': {'class':'form-control'}}) }}
                               {{ form_errors(form.entityClass) }}
                           </div>
                           <div class="form-group{% if form.ord.vars.errors|length %} has-error{% endif %}"">
                               {{ form_label(form.ord) }}
                               {{ form_widget(form.ord, {'attr': {'class':'form-control'}}) }}
                               <p class="help-block">Please enter number, higher number will make item show first</p>
                               {{ form_errors(form.ord) }}
                           </div>
                           <div class="form-group{% if form.status.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.status) }} <span class="required">*</span>
                               <div class="normal-label">
                                   {{ form_widget(form.status) }}
                               </div>
                               {{ form_errors(form.status) }}
                           </div>
                           {{ form_widget(form.save, {'attr': {'class':'btn btn-success'}}) }}
                           {{ form_widget(form.saveAndNew, {'attr': {'class':'btn btn-success'}}) }}
                           <button type="reset" class="btn btn-default" onclick="javascript:window.location='{{ path('_menu') }}'">Cancel</button>
                       {{ form_end(form) }}
                   </div>
               </div>
               <!-- /.row (nested) -->
           </div>
           <!-- /.panel-body -->
       </div>
       <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}