<div class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
              {% for menu in menus %}
              {% set isActive = false %}
              {% if currentRoute == menu.link %}
                {% set isActive = true %}
              {% elseif menu.children|length %}
                 {% for submenu in menu.children %}
                    {% if currentRoute == submenu.link %}
                        {% set isActive = true %}
                    {% endif %}
                 {% endfor %}
              {% endif %}
              <li {% if isActive %}class="active"{% endif %}>
                  <a href="{{ path(menu.link) }}"><i class="fa {{ menu.iconClass }} fa-fw"></i> {{ menu.caption }}</a>
                  {% if menu.children|length %}
                  <ul class="nav nav-second-level">
                  {% for submenu in menu.children %}
                  {% if submenu.status %}
                  {% set isSubmenuActive = false %}
                  {% if currentRoute == submenu.link %}
                    {% set isSubmenuActive = true %}
                  {% endif %}
                      <li {% if isSubmenuActive %}class="active"{% endif %}>
                          <a href="{% if 'http://' in submenu.link %}{{ submenu.link }} {% else %}{{ path(submenu.link) }}{% endif %}">{{ submenu.caption }}</a>
                      </li>
                  {% endif %}
                  {% endfor %}
                  </ul>
                  {% endif %}
              </li>
              {% endfor %}
          </ul>
      </div>
</div>