@CHARSET "UTF-8";
.has-error .help-block{color:#737373}
.has-error ul{list-style:none;margin:5px 0 0 0;padding:0}
.has-error li{color:#a94442;background:#f2dede;border-radius:5px;padding:5px 10px}
.has-error .form-control, .has-error .form-control:focus{border-color:#d9534f}
.required{color:#d9534f;font-weight:bold}
.normal-label label{font-weight:400}
input[type=radio], input[type=checkbox]{margin:0 2px 2px 5px;vertical-align:middle}
input[type=radio]:first-child{margin-left:0}
.has-error label:first-child{color:#d9534f}
.row-custom{padding:15px 0 0 0;}
.page-header{margin:15px 0 20px 0}
.login-panel{margin:0}
#login-dialog{margin:20% 0 0 0}
.pagination{margin:0 0 20px 0}
.search-header{margin-top:5px}
.search-form{margin:0 0 20px 0}
.search-form .form-group{margin-right:8px}
#footer p{margin-right:10px}
.go-to-page{margin:2px 0 5px 15px}
.go-to-page .form-control{display:inline-block;width:auto;padding:5px 12px;height:32px}
.mb20{margin-bottom:20px}
.mb20{margin-bottom:20px}
.active{color:#4cae4c}
.inactive{color:#d9534f}
.dashboard a:hover{text-decoration:none;color:#333}
.dashboard div{border:1px solid #ccc;margin:0 2.5% 2.5% 0;padding:20px 10px;min-height:150px}
.nav-second-level li.active{background: #e7e7e7}
.field-heading a{color:#333}
.field-heading a.active{color:#428bca}
.outline{border:1px solid #e3e3e3;padding:20px}
.mt5{margin-top:5px}
div.permission{display:inline-block}
div.permissions{margin-left:4%}
div.menu label{text-transform:uppercase;font-weight:normal;font-size:1.3em}
div.menu-list{margin-bottom:5px}
div.permission label{text-transform:capital;font-weight:normal;font-size:0.9em}

@media screen and (min-width: 320px) and (max-width: 568px){
#login-dialog{margin:5% 0 0 0}
.pagination.pull-right{float:left!important;margin-top:10px}
.go-to-page{margin:10px 0 10px 10px;}
.dashboard div{margin:0 5% 5% 0}
.search-form .form-group{margin-right:auto}
}