<!DOCTYPE html>
<html>

<head>
    {{ include(
        'AdminBundle:Default:scriptTop.html.twig'
    ) }}
    
    {% block scripttop %}{% endblock %}
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('_dashboard') }}">
                    <img src="http://www.fiare.fi/wp-content/uploads/2013/11/Logo_vihrea_162x50.png" height="25" />
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="You are logged in as {{ app.user.username }}">
                        Welcome {{ app.user.firstname }} <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ path('_user_edit', {'id': app.user.id}) }}"><i class="fa fa-user fa-fw"></i> My Account</a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li> -->
                        <li class="divider"></li>
                        <li><a href="{{ path('_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            {{ render(controller('MenuBundle:Default:renderMenu', {'currentRoute': app.request.attributes.get('_route')})) }}
        </nav>

        <div id="page-wrapper">
             {{ include(
                'AdminBundle:Default:message.html.twig'
             ) }}

             {% block content %}{% endblock %}
             
             
        </div>

        <div id="footer">
            <p class="muted credit pull-right">&copy; 2014 <a href="#">Aspl.in</a></p>
        </div>
    </div>
    <!-- /#wrapper -->

    {{ include(
        'AdminBundle:Default:scriptBottom.html.twig'
    ) }}

    <!-- Core Scripts - Include with every page for menu -->
    <script src="{{ asset('bundles/admin/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ asset('bundles/admin/js/sb-admin.js') }}"></script>
    
    {% block scriptbottom %}{% endblock %}
</body>

</html>