<!DOCTYPE html>
<html>

<head>
    {{ include(
        'AdminBundle:Default:scriptTop.html.twig'
    ) }}
</head>

<body>
    {% block content %}{% endblock %}

    {{ include(
        'AdminBundle:Default:scriptBottom.html.twig'
    ) }}

    {% block js %}{% endblock %}
</body>

</html>