{% for flashMessage in app.session.flashbag.get('success') %}
<div class="row-custom">
     <div class="alert alert-success">
          <i class="fa fa-check-circle fa-lg"></i> {{ flashMessage }}
     </div>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="row-custom">
     <div class="alert alert-info">
           <i class="fa fa-info-circle fa-lg"></i> {{ flashMessage }}
     </div>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="row-custom">
     <div class="alert alert-warning">
         <i class="fa fa-exclamation-triangle fa-lg"></i> {{ flashMessage }}
     </div>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="row-custom">
   <div class="alert alert-danger">
       <i class="fa fa-times-circle fa-lg"></i> {{ flashMessage }}
   </div>
</div>
{% endfor %}