<div class="row clearfix">
    <div class="col-sm-5 mb20">
         {% if pagerfanta.getNbPages() == pagerfanta.getCurrentPage() %}
            {% set to = pagerfanta.getNbResults() %}
         {% else %}
            {% set to = pagerfanta.getCurrentPage() * pagerfanta.getMaxPerPage() %}
         {% endif %}
         {% set from = 0 %}
         {% if pagerfanta.getNbResults() %}
            {% set from = ((pagerfanta.getCurrentPage() - 1) * pagerfanta.getMaxPerPage()) + 1 %}
         {% endif %}
         Showing
         {{ from }}
         to {{ to }}
         of {{ pagerfanta.getNbResults() }} entries
    </div>
    {% if (pagerfanta.haveToPaginate()) %}
    <div class="col-sm-7">
         <div class="go-to-page pull-right">
            Go to Page
            <select class="form-control" onchange="javascript:window.location.href=this.value;">
             {% for page in 1..pagerfanta.getNbPages() %}
                 <option value="{{ path(app.request.attributes.get('_route'), {'page': page}) }}" {% if pagerfanta.getCurrentPage() == page %}selected="selected"{% endif %}>
                    {{ page }}
                 </option>
             {% endfor %}
            </select>
         </div>
         {{ pagerfanta(pagerfanta, 'twitter_bootstrap3', {'prev_message': '&laquo; Previous', 'next_message': 'Next &raquo;', 'css_container_class': 'pagination pull-right'}) }}
    </div>
    {% endif %}
</div>