<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Welcome to Admin</title>

<!-- Core CSS - Include with every page -->
<link href="{{ asset('bundles/admin/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/admin/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

<!-- SB Admin CSS - Include with every page -->
<link href="{{ asset('bundles/admin/css/sb-admin.css') }}" rel="stylesheet">

<link href="{{ asset('bundles/admin/css/custom.css') }}" rel="stylesheet">