{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">{{ heading }}</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
           <div class="panel-heading text-right">
               <span class="required">*</span> = mendatory fields
           </div>
           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-7">
                       {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                           {{ form_errors(form) }}
                           <div class="form-group{% if form.firstname.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.firstname) }} <span class="required">*</span>
                               {{ form_widget(form.firstname, {'attr': {'class':'form-control', 'autofocus': 'autofocus'}}) }}
                               {{ form_errors(form.firstname) }}
                           </div>
                           <div class="form-group{% if form.lastname.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.lastname) }} <span class="required">*</span>
                               {{ form_widget(form.lastname, {'attr': {'class':'form-control'}}) }}
                               {{ form_errors(form.lastname) }}
                           </div>
                           <div class="form-group{% if form.email.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.email) }} <span class="required">*</span>
                               {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
                               {{ form_errors(form.email) }}
                           </div>
                           <div class="form-group{% if form.password.password.vars.errors|length or form.password.confirm_password.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.password) }} <span class="required">*</span>
                               {{ form_widget(form.password.password, {'attr': {'class':'form-control', 'placeholder': 'Password'}}) }}
                               {{ form_errors(form.password.password) }}
                               {{ form_widget(form.password.confirm_password, {'attr': {'class':'form-control mt5', 'placeholder': 'Confirm password'}}) }}
                               {{ form_errors(form.password.confirm_password) }}
                           </div>
                           <div class="form-group{% if form.roles.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.roles) }} <span class="required">*</span>
                               {{ form_widget(form.roles, {'attr': {'class':'form-control'}}) }}
                               {{ form_errors(form.roles) }}
                           </div>
                           <div class="form-group{% if form.status.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.status) }} <span class="required">*</span>
                               <div class="normal-label">
                                   {{ form_widget(form.status) }}
                               </div>
                               {{ form_errors(form.status) }}
                           </div>
                           {{ form_widget(form.save, {'attr': {'class':'btn btn-success'}}) }}
                           {{ form_widget(form.saveAndNew, {'attr': {'class':'btn btn-success'}}) }}
                           <button type="reset" class="btn btn-default" onclick="javascript:window.location='{{ path('_user') }}'">Cancel</button>
                       {{ form_end(form) }}
                   </div>
               </div>
               <!-- /.row (nested) -->
           </div>
           <!-- /.panel-body -->
       </div>
       <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}