{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">{{ heading }} <a href="{{ path('_user_new') }}" class="btn btn-primary pull-right">Add New User</a></h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 search-form">
          {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-inline outline'}}) }}
             {{ form_errors(form) }}
              <div class="form-group">
                  {{ form_widget(form.firstname, {'attr': {'class':'form-control', 'placeholder': 'Firstname'}}) }}
              </div>
              <div class="form-group">
                  {{ form_widget(form.lastname, {'attr': {'class':'form-control', 'placeholder': 'Lastname'}}) }}
              </div>
              <div class="form-group">
                  {{ form_widget(form.email, {'attr': {'class':'form-control', 'placeholder': 'Email'}}) }}
              </div>
              <div class="form-group">
                  <div class="normal-label">
                      {{ form_widget(form.status) }}
                  </div>
              </div>
              {{ form_widget(form.search, {'attr': {'class':'btn btn-success'}}) }}
              {{ form_widget(form.reset, {'attr': {'class':'btn btn-default'}}) }}
          {{ form_end(form) }}
     </div>
</div>
{{ include(
   'AdminBundle:Default:pager.html.twig', {'pagerfanta': pagerfanta}
) }}
<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
           <div class="panel-heading text-right">
               Click on up and down arrow to sort result
           </div>
           <!-- /.panel-heading -->
           <div class="panel-body">
               <div class="table-responsive">
                   <table class="table table-striped table-bordered table-hover">
                       <thead>
                           <tr class="field-heading">
                               <th width="35%">Firstname
                                   <a href="{{ path('_user', {'field': 'firstname', 'sort': 'asc'}) }}" {% if 'firstname' == sorter.field and 'asc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-up"></i></a>
                                   <a href="{{ path('_user', {'field': 'firstname', 'sort': 'desc'}) }}" {% if 'firstname' == sorter.field and 'desc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-down"></i></a>
                               </th>
                               <th width="25%">Lastname
                                   <a href="{{ path('_user', {'field': 'lastname', 'sort': 'asc'}) }}" {% if 'lastname' == sorter.field and 'asc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-up"></i></a>
                                   <a href="{{ path('_user', {'field': 'lastname', 'sort': 'desc'}) }}" {% if 'lastname' == sorter.field and 'desc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-down"></i></a>
                               </th>
                               <th width="15%">Email
                                   <a href="{{ path('_user', {'field': 'email', 'sort': 'asc'}) }}" {% if 'email' == sorter.field and 'asc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-up"></i></a>
                                   <a href="{{ path('_user', {'field': 'email', 'sort': 'desc'}) }}" {% if 'email' == sorter.field and 'desc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-down"></i></a>
                               </th>
                               <th width="15%">Status
                                   <a href="{{ path('_user', {'field': 'status', 'sort': 'asc'}) }}" {% if 'status' == sorter.field and 'asc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-up"></i></a>
                                   <a href="{{ path('_user', {'field': 'status', 'sort': 'desc'}) }}" {% if 'status' == sorter.field and 'desc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-down"></i></a>
                               </th>
                               <th width="10%"><i class="fa fa-gear"></i> Action</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% if pagerfanta.getNbResults() %}
                                {% for user in pagerfanta.getCurrentPageResults() %}
                                <tr class="odd gradeX">
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{% if user.status %} <i class="fa fa-thumbs-o-up active"></i> Active {% else %} <i class="fa fa-thumbs-o-down inactive"></i> Inactive {% endif %}</td>
                                    <td>
                                     <a href="{{ path('_user_edit', {'id': user.id}) }}"><i class="fa fa-pencil"></i> Edit</a><br />
                                     <a href="{{ path('_user_delete', {'id': user.id}) }}" onclick="javascript:return confirm('Do you want to proceed deleting this user?')"><i class="fa fa-trash-o"></i> Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                           {% else %}
                                <tr class="odd gradeX">
                                    <td colspan="5" align="center">No users found</td>
                                </tr>
                           {% endif %}
                       </tbody>
                   </table>
               </div>
           </div>
           <!-- /.panel-body -->
       </div>
       <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
{{ include(
   'AdminBundle:Default:pager.html.twig', {'pagerfanta': pagerfanta}
) }}
{% endblock %}