{% extends 'AdminBundle::loginlayout.html.twig' %}

{% block content %}
<div class="container">
    <div id="login-dialog" class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ include(
             'AdminBundle:Default:message.html.twig'
            ) }}
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <img src="http://www.fiare.fi/wp-content/uploads/2013/11/Logo_vihrea_162x50.png" />
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path('_login_check') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="_username" type="email" autofocus value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="_password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}