{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">{{ heading }}</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
           <div class="panel-heading text-right">
               <span class="required">*</span> = mendatory fields
           </div>
           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-7">
                       {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                           {{ form_errors(form) }}
                           <div class="form-group{% if form.name.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.name) }} <span class="required">*</span>
                               {{ form_widget(form.name, {'attr': {'class':'form-control', 'autofocus': 'autofocus'}}) }}
                               {{ form_errors(form.name) }}
                           </div>
                           <div class="form-group{% if form.role.vars.errors|length %} has-error{% endif %}">
                               {{ form_label(form.role) }} <span class="required">*</span>
                               {{ form_widget(form.role, {'attr': {'class':'form-control'}}) }}
                               {{ form_errors(form.role) }}
                           </div>
                           {{ form_widget(form.save, {'attr': {'class':'btn btn-success'}}) }}
                           {{ form_widget(form.saveAndNew, {'attr': {'class':'btn btn-success'}}) }}
                           <button type="reset" class="btn btn-default" onclick="javascript:window.location='{{ path('_role') }}'">Cancel</button>
                       {{ form_end(form) }}
                   </div>
               </div>
               <!-- /.row (nested) -->
           </div>
           <!-- /.panel-body -->
       </div>
       <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}