{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">{{ heading }} <a href="{{ path('_role_new') }}" class="btn btn-primary pull-right">Add New Role</a></h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 search-form">
          {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-inline outline'}}) }}
             {{ form_errors(form) }}
              <div class="form-group">
                  {{ form_widget(form.name, {'attr': {'class':'form-control', 'placeholder': 'Name'}}) }}
              </div>
              <div class="form-group">
                  {{ form_widget(form.role, {'attr': {'class':'form-control', 'placeholder': 'Role'}}) }}
              </div>
              {{ form_widget(form.search, {'attr': {'class':'btn btn-success'}}) }}
              {{ form_widget(form.reset, {'attr': {'class':'btn btn-default'}}) }}
          {{ form_end(form) }}
     </div>
</div>
{{ include(
   'AdminBundle:Default:pager.html.twig', {'pagerfanta': pagerfanta}
) }}
<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
           <div class="panel-heading text-right">
               Click on up and down arrow to sort result
           </div>
           <!-- /.panel-heading -->
           <div class="panel-body">
               <div class="table-responsive">
                   <table class="table table-striped table-bordered table-hover">
                       <thead>
                           <tr class="field-heading">
                               <th width="50%">Name
                                   <a href="{{ path('_role', {'field': 'name', 'sort': 'asc'}) }}" {% if 'name' == sorter.field and 'asc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-up"></i></a>
                                   <a href="{{ path('_role', {'field': 'name', 'sort': 'desc'}) }}" {% if 'name' == sorter.field and 'desc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-down"></i></a>
                               </th>
                               <th width="38%">Role
                                   <a href="{{ path('_role', {'field': 'role', 'sort': 'asc'}) }}" {% if 'role' == sorter.field and 'asc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-up"></i></a>
                                   <a href="{{ path('_role', {'field': 'role', 'sort': 'desc'}) }}" {% if 'role' == sorter.field and 'desc' == sorter.sort %}class="active"{% endif %}><i class="fa fa-lg fa-caret-down"></i></a>
                               </th>
                               <th width="12%"><i class="fa fa-gear"></i> Action</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% if pagerfanta.getNbResults() %}
                                {% for role in pagerfanta.getCurrentPageResults() %}
                                <tr class="odd gradeX">
                                    <td>{{ role.name }}</td>
                                    <td>{{ role.role }}</td>
                                    <td>
                                     <a href="{{ path('_role_edit', {'id': role.id}) }}"><i class="fa fa-pencil"></i> Edit</a><br />
                                     <a href="{{ path('_role_delete', {'id': role.id}) }}" onclick="javascript:return confirm('Do you want to proceed deleting this role?')"><i class="fa fa-trash-o"></i> Delete</a><br />
                                     <a href="{{ path('_role_permission', {'id': role.id}) }}"><i class="fa fa-magic"></i> Permission</a>
                                    </td>
                                </tr>
                                {% endfor %}
                           {% else %}
                                <tr class="odd gradeX">
                                    <td colspan="3" align="center">No roles found</td>
                                </tr>
                           {% endif %}
                       </tbody>
                   </table>
               </div>
           </div>
           <!-- /.panel-body -->
       </div>
       <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
{{ include(
   'AdminBundle:Default:pager.html.twig', {'pagerfanta': pagerfanta}
) }}
{% endblock %}