{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">{{ heading }}</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
   <div class="col-lg-12">
       <div class="panel panel-default">
           <div class="panel-heading text-right">
               <span class="required">*</span> = mendatory fields
           </div>
           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-7">
                       {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                           {{ form_errors(form) }}

                           {% for menu in menus %}
                           {% set field = 'menu' ~ menu.id %}
                           <div class="form-group menu-list">
                               {{ form_widget(form[field], {'attr': {'class': 'menu' ~ menu.id}}) }}
                               {{ form_errors(form[field]) }}
                           </div>
                           <div class="form-group permissions permissions{{menu.id}}">
                           {% for permission in permissions %}
                           {% set field = 'permission' ~ menu.id ~ permission.id %}
                               {{ form_widget(form[field], {'attr': {'class': 'permission', 'data-menu-id': menu.id}}) }}
                               {{ form_errors(form[field]) }}
                           {% endfor %}
                           </div>
                           {% endfor %}

                           {{ form_widget(form.save, {'attr': {'class':'btn btn-success'}}) }}
                           <button type="reset" class="btn btn-default" onclick="javascript:window.location='{{ path('_role') }}'">Cancel</button>
                       {{ form_end(form) }}
                   </div>
               </div>
               <!-- /.row (nested) -->
           </div>
           <!-- /.panel-body -->
       </div>
       <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}

{% block scriptbottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $('.menu-list input').click(function() {
            $('.permissions'+$(this).val()+' input').prop('checked', $(this).is(':checked'));
        });
        $('.permissions input').click(function() {
            if ($(this).is(':checked')) {
                $('.menu'+$(this).parent().attr('data-menu-id')+' input').prop('checked', true);
            }
            else {
                if (0 == $('.permissions'+$(this).parent().attr('data-menu-id')+' input:checked').length) {
                    $('.menu'+$(this).parent().attr('data-menu-id')+' input').prop('checked', false);
                }
            }
        });
    });
})(jQuery);
</script>
{% endblock %}